<!DOCTYPE html>
<html>
<head>
    <title>Mediamoose - User Administration</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">


    {% load staticfiles %}
    <link href="{% static 'global.css' %}" rel="stylesheet">

</head>

<body>


<div class="topbar">
    <div class="logo"></div>
    <div class="logo_txt"></div>
    <div class="menu"><a href="/users/logout/">logout</a></div>
</div>

<div class="content">

{% if flash_messages %}
<ul class="alert alert-success">
    {% for message in flash_messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}


{{ user.avatar.filename }}

{% if user.accounttype == "supplier" and user.avatar %}<div class="avatar-image"><img width=300 src="{{ MEDIA_URL }}/{{ user.avatar }}" /></div>{% endif %} 

<h1>{{ user.name }}</h1>


{% if form.is_multipart %}
    <form enctype="multipart/form-data" action="/users/detail/" method="post">
{% else %}
    <form action="/users/detail/" method="post">
{% endif %}


{% csrf_token %}
<table>
{{ form }}

</table>
<button type="submit" class="btn btn-default">Save</button>

<a href="/users/resetpassword">Reset password!</a>
</form>

</div> 

</body>

</html>

