<!DOCTYPE html>
<html>
<head>
    <title>Mediamoose - User Administration</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">

    {% load staticfiles %}
    <link href="{% static 'global.css' %}" rel="stylesheet">


</head>

<body>

<div class="topbar">
    <div class="logo"></div>
    <div class="logo_txt"></div>
    <div class="menu"><a href="/users/">Login</a></div>
</div>

<div class="content">

    <h1>Forget password</h1>
    <p>Please fill in your email address and we will reset and resend your password to your email.</p>

{% if flash_messages %}
<ul class="alert alert-success">
    {% for message in flash_messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

    <form action="/users/forget/" method="post">
    {% csrf_token %}
    <table>
    {{ form }}
    </table>
    <button type="submit" class="btn btn-default">Resend</button>
    </form>

</div> 




</body>

</html>

