<!DOCTYPE html>
<html>
<head>
    <title>Mediamoose - User Administration</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">

    {% load staticfiles %}
    <link href="{% static 'global.css' %}" rel="stylesheet">


</head>

<body>

<div class="topbar">
    <div class="logo"></div>
    <div class="logo_txt"></div>
</div>

<div class="content">

    <h1>Login User</h1>
    <p>Please fill in your credentials below to manage your account.</p>    


{% if flash_messages %}
<ul class="alert alert-success">
    {% for message in flash_messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}


    <form action="/users/" method="post">
    {% csrf_token %}
    <table>
    {{ loginform }}
    </table>
    <button type="submit" class="btn btn-default">Login</button>
    &nbsp; <a href="/users/forget">Wachwoord vergeten</a>
    </form>

</div>




</body>

</html>

