<!DOCTYPE html>
<html>
<head>
    <title>Mediamoose - User Administration</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">

    {% load staticfiles %}
    <link href="{% static 'global.css' %}" rel="stylesheet">


</head>

<body>

<div class="topbar">
    <div class="logo"></div>
    <div class="logo_txt"></div>
    <div class="menu"><a href="/users/">Login</a></div>
</div>

<div class="content">

    <h1>Resetted password</h1>
    <p>Your password has been resetted, a confirmation email has been send including the new credentials.</p>


    <form action="/users/forget/" method="post">
    {% csrf_token %}
    <table>
    {{ form }}
    </table>
    <button type="submit" class="btn btn-default">Resend</button>
    </form>

</div> 




</body>

</html>
