html,body{
   margin:50px;

} 

.content{
    
    margin:30px;

}

.content .avatar-image{
    width:300px;
    float:right;

}

.content ul{
    list-style:none;
}

.topbar{
    height:100px;
    border-bottom:#CCC 1px dotted;

}

.topbar .logo{
    background: url(logo.png);
    width:90px;
    height:90px;
    float:left;
}

.topbar .logo_txt{
    background: url(logo_txt.png);
    width:225px;
    height:30px;
    float:left;
    margin-left:20px;
    margin-top:30px;
}

.topbar .menu{
    float:right;
    width:200px;
    margin-top: 40px;
    text-align: right;
}


td,th{
    padding:10px;
}

.errorlist{
    color:red;
    list-style:none;
}

.errormsg{
    color:red;
}

.actionmsg{
    color:green;

}
